body {
  background-image: url("https://bogatyr.club/uploads/posts/2023-03/1678773288_bogatyr-club-p-obichnii-fon-foni-vkontakte-1.jpg");
}

.button {
  margin-left: 46%;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: rgb(46, 38, 108);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-top: 15px;
}

.button:hover {
  background-color: rgb(46, 38, 108);
}

.button:active {
  background-color: rgb(46, 38, 108);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

p {
  margin-left: 50%;
  border: 1px solid rgb(46, 38, 108);
  width: 50px;
  height: 50px;
  text-align: center;
}
